body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 538px;
    height: 16px;
    padding: 16px 20px;
    border: 1 solid #2f3747;
    border-radius: 15px;
}
button{
    width: 118px;
    height: 56px;
    background-color: yellow;
    padding: 13px 20px;
    border-radius: 15px;
    border: none;
}
.link{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}
#show{
    display: block;
}
.cut{
    display: none;
    width: 600px;
    height: 100px;
    padding: 5px 28px;
    margin: 16px 0px 0px;
    background-color: white;
    color: black;
    border-radius: 15px;
}
.textLink{
    height: 32px;
    font-size: 32px;
    display: flex;
    align-items: center;
}
